<div class="card">
    <div class="card-header">
        <h3>@GetName()</h3>
        <a href="teams/@team.Id">View</a>
        
    </div>
    <div class="card-body">
        @GetMembers()
    </div>
</div>

@code {
    
}