@page "/"
@using YoTeams.Models
@using YoTeams.Components.Common.TeamCard
@using YoTeams.Services
@inject NavigationManager NavManager
@inject HttpClient Http
@inject IConfiguration Configuration



<PageTitle>Dashboard</PageTitle>


@inject TeamService TeamService

<h3>Team List</h3>

@if (teams == null)
{
    <p>Loading...</p>
}
else if (teams.Count == 0)
{
    <p>No teams available.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Members</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var team in teams)
        {
            <tr>
                <td>@team.Name</td>
                <td>@team.Description</td>
                <td>@(team.Members.Count) Members</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Team> teams;

    protected override async Task OnInitializedAsync()
    {
        teams = await TeamService.GetTeamsAsync();
    }
}

